$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    backgcircle: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

$primary-font-size: 20px;
.info {
  #cur-test-count {
    font-size: $primary-font-size;
  }
  #cur-test-string {
    font-size: $primary-font-size;
  }
}

$res-x: 1366;
$res-y: 768;
@mixin icon-mixin() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
}

.icon-img-wrapper {
  float: left;
  .icon-img-fixer {
    @include icon-mixin();
    img {
      width: 100%;
    }
  }
}

$xdim : 3;
$ydim : 4;
.grid-3-4 {
  .icon-img-wrapper {
    width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
    height: auto;
  }
}

$xdim : 4;
$ydim : 6;
.grid-4-6 {
  .icon-img-wrapper {
    width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
    height: auto;
  }
}

$xdim : 7;
$ydim : 11;
.grid-7-11 {
  .icon-img-wrapper {
    width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
    height: auto;
  }
}

$res-x: 2048;
$res-y: 1536;
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  $xdim : 4;
  $ydim : 3;
  .grid-3-4 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }

  $xdim : 6;
  $ydim : 4;
  .grid-4-6 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }

  $xdim : 11;
  $ydim : 7;
  .grid-7-11 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }

}

// portrait
$res-x: 1536;
$res-y: 2048;
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  $xdim : 3;
  $ydim : 4;
  .grid-3-4 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }

  $xdim : 4;
  $ydim : 6;
  .grid-4-6 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }

  $xdim : 7;
  $ydim : 11;
  .grid-7-11 {
    .icon-img-wrapper {
      width: (($res-x - ($xdim - 1)) / $xdim) / $res-x * 100%;
      height: auto;
      padding-top: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
      padding-bottom: ($res-y / $ydim - 128) * 0.5 / $res-y * 100%;
    }
  }
}


.answer {
  width: 100px;
  height: auto;
  .img {
    width: 100%;
  }
}
