$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

body {
  width: 100%;
  height: 100%;
}

.info {
  float: left;
  #cur-test-info {
    font-size: 20px;
  }
}

@mixin icon-mixin() {
  float: left;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
  .icon-img-fixer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px;
    img {
      vertical-align: middle;
      width: 100%;
    }
  }
}


@mixin answer-img-mixin() {
  .answer-img-fixer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 128px;
    height: 128px;
    img {
      width: 100%;
    }
  }
}

@mixin icon-mixin-iphone() {
  float: left;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
  .icon-img-fixer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    img {
      width: 100%;
    }
  }
}

@mixin answer-img-mixin-iphone() {
  .answer-img-fixer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    img {
      width: 100%;
    }
  }
}

.icon-list {
  width: 100%;
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

$res-x: 1440;
$res-y: 900;
// @media screen and (min-width: 320px) {
  .info-container {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .answer {
    float: left;
    h3 {
      float: left;
      margin-right: 20%;
    }
    .answer-img-wrapper {
      float: left;
      @include answer-img-mixin();
    }
  }

  $xdim : 4;
  $ydim : 3;
  .grid-3-4 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      @include icon-mixin();
      width: 360px;
      height: 300px;
    }
  }

  $xdim : 6;
  $ydim : 4;
  .grid-4-6 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      @include icon-mixin();
      width: 240px;
      height: 225px;
    }
  }

  $xdim : 11;
  $ydim : 7;
  .grid-7-11 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      @include icon-mixin();
      width: 130px;
      height: 128px;
    }
  }
}

$res-x: 2048;
$res-y: 1536;
@include ipad-retina(landscape)
  .info-container {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .answer {
    float: left;
    h3 {
      float: left;
      margin-right: 20%;
    }
    .answer-img-wrapper {
      float: left;
      @include answer-img-mixin();
    }
  }

  .icon-list {
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  $xdim : 4;
  $ydim : 3;
  .grid-3-4 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 512px;
      height: 512px;
      @include icon-mixin();
    }
  }

  $xdim : 6;
  $ydim : 4;
  .grid-4-6 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 341px;
      height: 384px;
      @include icon-mixin();
    }
  }

  $xdim : 11;
  $ydim : 7;
  .grid-7-11 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 186px;
      height: 219px;
      @include icon-mixin();
    }
  }

}

// portrait
$res-x: 1536;
$res-y: 2048;
@include ipad-retina(portrait) {
  .info-container {
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .answer {
    .answer-img-wrapper {
      .answer-img-fixer {
        @include answer-img-mixin();
      }
    }
  }

  .icon-list {
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  $xdim : 3;
  $ydim : 4;
  .grid-3-4 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 512px;
      height: 512px;
      @include icon-mixin();
    }
  }

  $xdim : 4;
  $ydim : 6;
  .grid-4-6 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 384px;
      height: 341px;
      @include icon-mixin();
    }
  }

  $xdim : 7;
  $ydim : 11;
  .grid-7-11 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 219px;
      height: 186px;
      @include icon-mixin();
    }
  }
}

$x-dim: 1136;
$y-dim: 568;
@include iphone5(landscape)  {
  .info-container {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .answer {
    float: left;
    h3 {
      float: left;
      margin-right: 20%;
    }
    .answer-img-wrapper {
      float: left;
      @include answer-img-mixin-iphone();
    }
  }

  .icon-list {
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  $xdim : 4;
  $ydim : 3;
  .grid-3-4 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 284px;
      height: 213px;
      @include icon-mixin-iphone();
    }
  }

  $xdim : 6;
  $ydim : 4;
  .grid-4-6 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 189px;
      height: 160px;
      @include icon-mixin-iphone();
    }
  }

  $xdim : 11;
  $ydim : 7;
  .grid-7-11 {
    .icon-img-wrapper {
      //width: (1 / $xdim) * 100%;
      //height: (1 / $ydim) * 100%;
      width: 103px;
      height: 91px;
      @include icon-mixin-iphone();
    }
  }

}

// portrait
$x-dim: 568;
$y-dim: 1136;
@include iphone5(portrait) {
  .info-container {
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .answer {
    .answer-img-wrapper {
      @include answer-img-mixin-iphone();
    }
  }

  .icon-list {
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  $xdim : 3;
  $ydim : 4;
  .grid-3-4 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 213px;
      height: 284px;
      @include icon-mixin-iphone();
    }
  }

  $xdim : 4;
  $ydim : 6;
  .grid-4-6 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 160px;
      height: 189px;
      @include icon-mixin-iphone();
    }
  }

  $xdim : 7;
  $ydim : 11;
  .grid-7-11 {
    .icon-img-wrapper {
      //width: ($res-x / $xdim) / $res-x * 100%;
      //height: ($res-y / $ydim) / $res-y * 100%;
      width: 91px;
      height: 103px;
      @include icon-mixin-iphone();
    }
  }
}
