
<!-- Information Section -->
<div class="container info-container">
  <div class="info col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="current-info col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h3> Current Test </h3>
      <p id="cur-test-info">
        {{ testCountbySection }}th /
        {{ curTestStr }} /
        <span class="xdim" data-xdim="{{ xdim }}"> {{ xdim }} </span>
        x
        <span class="ydim" data-ydim="{{ ydim }}"> {{ ydim }} </span>
      </p>
    </div>
    <div class="answer col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h3> Answer </h3>
      <div class="answer-img-wrapper">
        <div class="answer-img-fixer">
          <img ng-src="{{ answer.src }}">
        </div>
      </div>
    </div>
    <div class="next-test col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h3> Submit Answer </h3>
      <button class="btn btn-large"> Next test </button>
    </div>
  </div>
</div>

<!-- Icon grid Section -->
<div ng-if="startTest" class="icon-list grid-{{ xdim }}-{{ ydim }}">
  <div class="icon-img-wrapper"  ng-repeat="(idx, icon) in icons | orderBy:randomSort">
    <div class="icon-img-fixer">
      <img class="icon-img" ng-src="{{ icon.src }}">
    </div>
  </div>
</div>
