<!-- Icon grid Section -->

<div class="icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="grid-{{ xdim }}-{{ ydim }}" ng-if="started" ng-repeat="icon in icons | orderBy:randomSort">
    <div class="icon-img-wrapper">
      <img class="icon-img" ng-src="{{ icon.src }}">
    </div>
  </div>
</div>

<!-- Information Section -->

<div class="info col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="current-info">
    <p id="cur-test-count">
      {{ testCountbySection }}th test of
    </p>
    <p id="cur-test-string">
      {{ curTestStr }} on <span class="xdim" data-xdim="{{ xdim }}"> {{ xdim }} </span> x  <span class="ydim" data-ydim="{{ ydim }}"> {{ ydim }} </span> grid.
    </p>
  </div>
  <div class="picked"> <h3> Selection </h3> </div>
  <div class="answer"> <h3> Answer </h3> <img ng-src="{{ answer.src }}"> </div>
  <button type="button" class="btn btn-default btn-lg" ng-click="doStartTime"> Start Test </button>
  <button type="button" class="btn btn-default btn-lg" ng-click="doEndTime"> Next</button>
</div>
